{% extends "base.html" %}

{% block h1 %}Add Inventory{% endblock %}

{% block header %}
<script type="text/javascript">
function check_location(partid, color) {
  $.getJSON("/check_location/", { part_id: partid, color: color },
    function(json)
    {
      $("#other_locations").empty();
      $.each(json, function(index, item)
        {
          var string = "<li>"+item.amount+" pieces of "+item.inventory.color+" "+item.inventory.part_id+" ("+item.inventory.part_name+") in "+item.location.name+"</li>"
          $("#other_locations").append(string);
        });
    });
}
function addClickHandlers() {
  $("#check").click( function()
    {
      var part_id = $("#id_inv-part").val();
      var color = $("#id_inv-color").val();
      check_location(part_id, color);
    });
}
$(document).ready(addClickHandlers);
</script>
{% endblock %}


{% block content %}

<div id="form_container">
    <form action="{% url inventory.views.add_inventory %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>General Info</legend>
            {{ inventory_form.as_p }}
            <b><span id="check">Check for others</a></b>
            <ul id="other_locations"></ul>
        </fieldset>
        <fieldset>
            <legend>Location</legend>
            {% comment %} TODO Hide the extra forms with Javascript until the user asks for them. {% endcomment %}
            {{ location_formset.management_form }}
            {% for l in location_formset%}
                {{ l.non_field_errors }}
                {{ l.location.errors }}
                {{ l.amount.errors }}
                <p>{{ l.amount }} pieces in {{ l.location }}</p>
            {% endfor %}
        </fieldset>
        <fieldset>
            <legend>Keywords</legend>
            {{ kw_formset.management_form }}
            {% for k in kw_formset %}
            <p>Keyword: {{ k.keyword }} Value: {{ k.value }}</p>
            {% endfor %}
        </fieldset>
            <p>
                <input class="submit" type="submit" value="Submit" />
            </p>
    </form>
</div>

{% endblock %}

