{% extends "base.html" %}
{% load url from future %}

{% block h1 %}View Inventory{% endblock %}

{% block content %}

<table>
  <tr>
    <th>Part ID</th>
    <th>Part Name</th>
    <th>Color</th>
    <th>Amount</th>
    <th>Location</th>
  </tr>
{% for i in items %}
  <tr>
    <td><a href="{% url "inventory.views.view_inventory_item" i.partinstance.part.part_id %}">{{ i.partinstance.part.part_id }}</a></td>
    <td><a href="{% url "inventory.views.view_inventory_item" i.partinstance.part.part_id %}">{{ i.partinstance.part.name }}</a></td>
    <td>{{ i.partinstance.color }}</td>
    <td>{{ i.amount }}</td>
    <td>{% for l in i.locations %} {{ l }}<br /> {% endfor %}</td>
  </tr>
{% empty %}
<tr><td spanwidth='5'>You have no items.</td></tr>
{% endfor %}
</table>
<p>Total: {{total}}. Distinct parts: {{distinct}}</p>

{% endblock %}

