{% extends "base.html" %}
{% load url from future %}

{% block h1 %}View {{ part.part_id }} {{ part.name }} {% endblock %}

{% block content %}

{% for i in items %}
    <section>
        <legend>{{ i.partinstance.color.name }}</legend>
        <p>Total: {{ i.total_amount }}</p>
        <h2>Locations</h2>
        {% for l in i.locationamount_set.all %}
        <p>{{ l.amount }} pieces in {{ l.location }}</p>
        <p>Added on: {{l.added}}</p>
        {% endfor %}

        <h2>Keywords</h2>
        {% for k in i.keywordvalue_set.all %}
        <p>{{ k.keyword }}: {{ k.value }}</p>
        {% empty %}
        <p>No keywords for this item.</p>
        {% endfor %}
    </section>
{% empty %}
<p>You don't have any of this item.</p>
{% endfor %}

{% endblock %}

